aiohttp==3.7.4.post0
async-timeout==3.0.1
asyncpg==0.24.0
attrs==21.2.0
chardet==4.0.0
greenlet==1.1.2
idna==3.3
loguru==0.5.3
multidict==5.2.0
SQLAlchemy==1.4.26
typing-extensions==3.10.0.2
yarl==1.7.0
