<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бренды в категории {{ category.name }}</title>
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Магазин ключей для авто</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Личный кабинет</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'category_list' %}">Каталог</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <h1 class="text-center">Бренды в категории {{ category.name }}</h1>
        <div class="row mt-4">
            <div class="col-12">
                <ul class="list-group">
                    {% for brand in brands %}
                        <li class="list-group-item">
                            <a href="{% url 'key_list' category.id brand.id %}">{{ brand.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="text-center mt-4">
            <button class="btn btn-primary" onclick="window.location.href='{% url 'category_list' %}'">Назад к категориям</button>
        </div>
    </div>

    <!-- Подключение Bootstrap JS и зависимостей -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
