<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Магазин ключей для авто</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Личный кабинет</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'category_list' %}">Каталог</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <h2>Корзина</h2>
        <ul class="list-group">
            {% for item in items %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ item.key.name }} ({{ item.quantity }})
                    <a href="{% url 'remove_from_cart' item.id %}" class="btn btn-danger btn-sm">Удалить</a>
                </li>
            {% empty %}
                <li class="list-group-item">Корзина пуста</li>
            {% endfor %}
        </ul>
        <a href="{% url 'create_order' %}" class="btn btn-primary mt-3">Оформить заказ</a>
    </div>

    <!-- Подключение Bootstrap JS и зависимостей -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
